.footer-area{
    background:black;
    color: white;
    padding: 50px;
    text-align: center;
}

.footer-area .footer-box #mail{
    color: white;
    display: inline-block;
}
@media (max-width:576px){
    .footer-area h6{
        font-size: 14px;
    }.footer-area{
        padding: 20px;
    }
}